@media screen and (min-width: 920px){
    .head-none{
        display: block!important;
    }
    .head-mob{
        display: none!important;
    }
    .images{
        margin-top: -70vh!important;
        margin-bottom: 0vh!important;
    }
}
@media  (min-width: 920px)and (max-width: 1270px){
    .body{
        height: 93vh!important;
        /* background-color: red!important; */
    }
    .images{
        margin-top: -60vh!important;
        margin-bottom: 0vh!important;
    }
}
@media (min-width: 767px)and (max-width: 920px){
    .body{
        /* background-color: green!important; */
        height: 110vh!important;
    }
    .images{
        margin-top: -40vh!important;
        margin-bottom: 0vh!important;
    }
    .head-none{
        display: none!important;
    }
}
@media (min-width: 512px)and (max-width: 767px){
    .about{
        flex-direction: column;
    }
    .head-none{
        display: none!important;
    }
    .images{
        margin-top: 15vh!important;
    }
    .support{
        display: none;
    }
    .body{
        height: 83vh;
        width: 90%;
        /* background-color: brown!important; */
    }
}
@media (min-width: 300px)and (max-width: 512px){
    .about{
        flex-direction: column; 
    }
    .head-none{
        display: none!important;
    }
    .images{
        margin-top: 50vh!important;
        flex-direction: column;
        width: 90%!important;
        margin: auto;
        margin-bottom: 50px;
    }
    .support{
        display: none;
    }
    .body{
        height: 100vh;
        width: 95%;
        /* background-color: blue!important; */
    }
}
